* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
/* Xóa mũi tên trong input[type: number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body {
  background-color: #d5eafc;
}
body hr {
  border-color: black;
  opacity: 1;
}
.card {
  padding: 20px;
}
.card-info {
  font-size: 18px;
}
.card-form {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 10px;
  margin-top: 10px;
}
.card-select {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 17px 0;
}
.card-select select {
  border: none;
  border-bottom: 2px solid #eee;
}
.card-field {
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  line-height: 30px;
}
.card-field:focus,
.card-select select:focus {
  outline: 0;
  border-bottom-color: #665856;
}
.card-label {
  color: #8597a3;
  font-size: 18px;
  position: absolute;
  top: 15px;
  transform: translateY(0);
  transition: transform 0.5s, color 0.5s;
}
.card-field:focus ~ .card-label,
.card-field:not(:placeholder-shown) ~ .card-label {
  transform: translateY(-25px);
  color: #665856;
}
.card .ketqua {
  padding: 10px 0 10px 10px;
  margin-top: 16px;
  width: 50%;
  border-bottom: 2px solid black;
}
.button {
  border-radius: 4px;
  border: none;
  outline: none;
  width: 25%;
  padding: 0 15px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
  margin: 25px 0 10px;
  color: white;
  background: linear-gradient(#ff6100, rgba(255, 80, 80, 1));
  box-shadow: 0 2px 12px -3px rgba(255, 80, 80, 1);
  opacity: 0.9;
  transition: all 0.5s;
  animation: btn 6s 3s infinite ease-in-out;
}
.button:hover {
  opacity: 1;
  box-shadow: 0 2px 2px -3px #ff6100;
}
@keyframes btn {
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.04);
  }
  90% {
    transform: scale(0.96);
  }
}
